.collection-list {
  margin-top: 0;
  margin-bottom: 0;
}

.grid-collection-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 576px) {
  .grid__item__1 {
    grid-row: span 2;
    grid-column: span 2;
  }
  .grid__item__1 .card-wrapper {
    aspect-ratio: 1 / 1.287;
  }
}

.grid__item__1 .card-wrapper .card__content{
  display: flex;
  align-items: center;
}

.collection-list-title {
  margin: 0;
}

.view__all {
  text-decoration: none;
  padding: 0 3rem;
  font-size: 1.5rem;
  line-height: 4.7rem;
  background-color: #2C332F;
  color: #fff !important;
  border-radius: 0.6rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .new-slider {
    padding: 0 20px;
  }
}

@media screen and (max-width: 749px) {
  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item a:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list-view-all {
  margin-top: 2rem;
}
